<div class="card h-100 shadow-sm">
  <div class="position-absolute top-0 start-0 m-2 d-flex bg-white rounded p-1" style="cursor: pointer;width: 30px; height: 30px;" (click)="abrirModalCalificacion()">
    <img src="https://cdn-icons-png.flaticon.com/256/626/626004.png" alt="Flecha" class="m-auto" style="width: 15px; height: 15px; rotate: 180deg;">
  </div>
  <div class="position-absolute top-0 end-0 my-2 ms-5 d-flex bg-white rounded-pill px-2 py-1 shadow-sm rating-badge" style="margin-right: 4.5rem;">
    <app-estrellas 
        [calificacion]="mediaCalif()"
        [interactivo]="false">
    </app-estrellas>
  </div>
  <div class="position-absolute top-0 end-0 m-2 d-flex bg-white rounded p-1 justify-content-center align-items-center votes-badge" style="height: 30px;">
    <h6 class=" mb-0 mx-1">{{ numVotos() }}</h6>
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Flecha" style="width: 15px; height: 15px;">
  </div>
  <img [src]="imagen()" class="card-img-top img-fluid fixed-img" style="object-fit: cover; height: 200px;" alt="Paella">
  <div class="card-body">
    <h5 class="card-title">{{ titulo() }}</h5>
    <ul class="list-unstyled">
      @for (ingrediente of ingredientes(); track $index) {
      <li>🍴 {{ ingrediente }}</li>
      }
    </ul>
  </div>
  <img src="https://cdn-icons-png.flaticon.com/512/16/16367.png" alt="Eliminar receta"
    class="position-absolute bottom-0 end-0 m-3" style="width: 20px; height: 20px; cursor: pointer; opacity: 0.8;"
    (click)="eliminar()">
</div>
@if (mostrarModal) {
  <app-modal-calificacion (close)="cerrarModal()" (votoEmitido)="actualizarVotacion($event)"></app-modal-calificacion>
}