<div class="container my-4">
  <h2 class="mb-4">Añadir Receta</h2>
  <form class="row g-3" [formGroup]="recetaForm" (ngSubmit)="submit()">
    <div class="col-md-7">
      <label for="titulo" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo"
        placeholder="Ej: Hamburguesa" [class.is-invalid]="titulo?.invalid && (titulo?.dirty || titulo?.touched)">
      @if (titulo?.invalid && (titulo?.dirty || titulo?.touched)){
        <div class="invalid-feedback d-block ms-2"> 
          
          @if (titulo?.hasError('required')){
            <div>El nombre de la receta es obligatorio.</div> 
          }
          
          @if (titulo?.hasError('minlength')){
            <div>El nombre debe tener al menos caracteres.</div> 
          }

          @if (titulo?.hasError('pattern')){
            <div>El nombre contiene caracteres no válidos.</div>
          }

        </div>
      }
    </div>

    <div class="col-md-7">
      <label for="imagen" class="form-label">Imagen</label>
      <input type="text" class="form-control" id="imagen" formControlName="imagen" placeholder="Ej: https://">
    </div>

    <div class="col-md-7">
      <label for="ingredientes" class="form-label">Ingredientes (separados por comas)</label>
      <input type="text" class="form-control" id="ingredientes" formControlName="ingredientes"
        placeholder="Ej: Carne,Queso,Lechuga,Pan">
    </div>

    <div class="col-12">
      <app-boton [type]="'submit'" [class]="'btn btn-primary'" [texto]="'Agregar Receta'"></app-boton>
    </div>
  </form>
</div>